@model IEnumerable<Topic>
@{
    ViewData["Title"] = "Список тем";
}

<h2>@ViewData["Title"]</h2>
<a asp-action="Create" asp-controller="Topic">Добавить тему</a>
@if (Model.ToList().Count != 0)
{
   
    <table class="table">
        <tr><th>Название темы</th></tr>
        @foreach (var topic in Model)
        {
            <tr>
                <td>@topic.Name</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@topic.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@topic.Id">Изменить</a>
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>
        <p>Темы отсутствуют</p>
    </div>
}
