@model List<CertificationCenter.Models.User>

@{
    ViewData["Title"] = "Результаты пользователей ";
}

<h1>Результаты пользователей</h1>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Результаты</h2>
        </div>
    </div>
    <br/>
    <table class="table">
        <tr><th>Имя пользователя</th><th>Email</th><th></th></tr>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-action="UserCert" asp-route-id="@user.Id"  class="btn btn-sm btn-danger">Посмотреть результаты</a>
                </td>
            </tr>
        }
    </table>

</div>